/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/
// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;
// Include all of Ionic
@import "../lib/ionic/scss/ionic";
@media screen and (min-width: 320px) {
    html {
        font-size: 14px;
    }
}
@media screen and (min-width: 360px) {
    html {
        font-size: 16px;
    }
}
@media screen and (min-width: 400px) {
    html {
        font-size: 18px;
    }
}
@media screen and (min-width: 440px) {
    html {
        font-size: 20px;
    }
}
@media screen and (min-width: 480px) {
    html {
        font-size: 22px;
    }
}
@media screen and (min-width: 640px) {
    html {
        font-size: 28px;
    }
}
html {
    font-family: PingFangSC;
    font-size: 62.5%;
}
@font-face {
    font-family: 'iconfont';
    src: url('../img/iconfont/iconfont.eot');
    /* IE9*/
    src:/* IE6-IE8 */
    /* chrome、firefox */
    /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('../img/iconfont/iconfont.eot?#iefix') format('embedded-opentype'),url('../img/iconfont/iconfont.woff') format('woff'),url('../img/iconfont/iconfont.ttf') format('truetype'),url('../img/iconfont/iconfont.svg#iconfont') format('svg');
    /* iOS 4.1- */
}
.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
/* 开始时的样式 */
    .fade.ng-enter {
        transition: 5s linear all;
        /* 当使用css transition实现动画效果时，在开始时的样式中必须包含transition的设置 */
        opacity: 0;
    }
    /* 结束时的样式 */
    .fade.ng-enter.ng-enter-active {
        opacity: 1;
    }
$color: #ff6600;
@import "usage/tab-home";
@import "usage/tabs";
@import "usage/tab-activity";
@import "usage/tab-my";
@import "usage/detail";
@import "usage/play";
@import "usage/login_register";
@import "usage/classify";
@import "usage/liveprofile";
@import "usage/live";