@charset "utf-8";
/*
* @description: "视频：分类目订阅层（默认）"页面样式
* @author: 孔
* @update: name (2016-10-08)
*/
/*
* k==kong
* c==classify
* */
.k_classify {
    .tabs {
        top: 0;
        height: 44px!important;
        line-height: 44px;
        width: 100%;
        padding: 0 8rem;
        background: $color;
        .tab-item{
            font-size: 14px;
        }
        .tab-item-active{
            font-size: 16px;
            font-weight: bolder;
        }
    }
    .has-tabs.pane {
        top: 44px;
        
    }
    .has-tabs, .bar-footer.has-tabs{
        bottom: 0;
    }
    .bar-footer .title {
        color: $color;
    }
    ion-content {
        top: 44px;
        background: #fff;
        padding: 0 1.6rem;
        p {
            margin: 0;
        }
        .c_select {
            padding: 1rem 0 2rem;
            line-height: 2rem;
            font-size: 1.4rem;
            color: #98a4b8;
        }
        .button {
            line-height: 2rem;
            font-size: 1.4rem;
            padding: .6rem 1rem;
            min-height: 0;
            min-width: 0;
            color: #8bb3f3;
            background: #ebf4ff;
            margin-right: 10px;
            margin-bottom: 1rem;
            border: none;
            white-space: nowrap;
            i {
                display: none;
            }
            &.active {
                background: $color;
                color: #ffffff;
                border-color: #5FDD63;
                border: none;
                i {
                    display: block;
                    position: absolute;
                    top: -1.6rem;
                    right: 1px;
                }
            }
        }
    }
}
