@charset "utf-8";
/*
* @description: "活动详情页"页面样式
* @author: 孔
* @update: name (2016-10-08)
*/
/*
* k==kong
* d==detail
* i==info
* w==weixin
* */
.k_detail {
    p {
        margin: 0;
    }
    .d_back{
        position: absolute;
        z-index: 1;
        width: 3.2rem;
        height: 3.2rem;
        border-radius: 50%;
        background: rgba(0,0,0,0.5);
        line-height: 3.2rem;
        text-align: center;
        color: #fff;
        left: 1.6rem;
        top: 1rem;
    }
    ion-content {
        &.has-footer {
            bottom: 50px;
        }
        .d_img {
            position: relative;
    
            img {
                width: 100%;
                height: 21.8rem;
            }
        }
        .list {
            padding: 1.8rem 1.6rem 0;
            .item {
                border: none;
            }
            .d_title {
                font-size: 20px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.4;
                color: #2b2a2a;
            }
            .d_time_place{
                span{
                    display: block;
                    margin-bottom: 5px;
                    clear: both;
                }
                padding: 2rem 0 0;
                color: #888;
                line-height: 20px;
                font-size: 14px;
                clear: both;
            } 
            .d_info {
                margin: 0;
                dt {
                    h2 {
                        margin: 0;
                        line-height: 2.2rem;
                        font-size: 16px;
                        font-weight: 500;
                        font-style: normal;
                        font-stretch: normal;
                        color: #2a2a2a;
                        padding: 1.8rem 0 1rem;
                    }
                    p {
                        line-height: 1.57;
                        font-size: 14px;
                    }
                }
                .i_list {
                    padding: 1rem 0 1.6rem;
                    li {
                        list-style: none;
                    }
                }
                .i_pic {
                    img {
                        width: 100%;
                        height: 12.8rem;
                    }
                }
                .i_text {
                    padding: 1.6rem 0 1rem;
                    p {
                        font-size: 14px;
                        font-weight: normal;
                        font-style: normal;
                        font-stretch: normal;
                        line-height: 1.57;
                        color: #2a2a2a;
                    }
                }
                .i_url {
                    a {
                        display: block;
                        text-decoration: none;
                        font-family: PingFangSC;
                        font-size: 14px;
                        font-weight: normal;
                        font-style: normal;
                        font-stretch: normal;
                        line-height: 1.57;
                        color: #4384e9;
                    }
                    padding-bottom: 30px;
                    border-bottom: 1px solid #eaeaea;
                }
            }
            .d_weixin {
                text-align: center;
                .w_attention {
                    width: 100%;
                    padding: 1.6rem 6.4rem;
                    color: #8d939d;
                    font-size: 14px;
                    p {
                        line-height: 2.4rem;
                        i {
                            padding: 0 2px;
                            color: #4689F2;
                            font-weight: 600;
                            font-size: 1.6rem;
                        }
                    }
                }
                .w_QR_code {
                    img {
                        width: 15rem;
                    }
                }
                .w_distinguish {
                    color: #aab0b8;
                    font-size: 1.2rem;
                    line-height: 1.8rem;
                    padding: 1rem 0 6.2rem;;
                }
            }
        }
    }
    .bar-footer {
        &.closed{
            background: #838e9f;
        }
        &.beginSoon{
            background: #838f9f;
        }
        background: #de4040;
        height: 50px;
        .title {
            height: 50px;
            line-height: 50px;
            color: #fff;
        }
    }
}