.tab-my {
    p {
        margin: 0;
    }
    .k_nologin {
        .k_no {
            width: 100%;
            font-weight: 600;
            text-align: center;
            color: #fff;
            background-color: $color;
            p {
                
                padding: 5.625rem 0;
                .button {
                    min-width: 78px;
                    min-height: 30px;
                    vertical-align: baseline;
                    line-height: 30px;
                    color: #fff;
                    border: 2px solid #fff;
                    margin-left: 10px;
                }
            }
        }
        .k_prompt {
            color: #d1d1d1;
            font-weight: bold;
            text-align: center;
            .k_play {
                padding: 3rem 0 1.25rem 0;
                img{
                   width: 2.625rem;
                   height: 2.625rem; 
                }
            }
//          span {
//              display: inline-block;
//              color: #dadee4;
//              font-size: 3rem;
//              height: 4.375rem;
//              line-height: 4.375rem;
//              width: 4.375rem;
//              border: 5px solid #dadee4;
//              border-radius: 50%;
//              text-align: center;
//              margin: 1.25rem;
//              i {
//                  position: relative;
//                  top: -5px;
//                  left: 3px;
//              }
//          }
        }
    }
    .k_haslogin {
        .k_has {
            padding-top: 3rem;
            z-index: 6;
            background-color: $color;
            height: 13.375rem;
            text-align: center;
            
            p {
                color: #fff;
            }
            .k_border{
                width: 5.625rem;
                height: 5.625rem;
                border: 3px solid #ff944c;
                margin: auto;
                
                margin-bottom: .625rem;
                border-radius: 50%;
                position: relative;
                img {
                    width: 100%;
                    height: 100%;
                    border: 3px solid #fff;
                    border-radius: 50%;
                }
                p{
                    margin: 0;
                    height: 1rem;
                    width: 3.25rem;
                    border-radius: .5rem;
                    background: #33d170;
                    color: #fff;
                    line-height: 1rem;
                    text-align: center;
                    font-size: .625rem;
                    position: absolute;
                    bottom: -2px;
                    left: 0;
                    right: 0;
                    margin: auto;
                    z-index: 10000;
                }
            }
            
        }
        .k_message{
            .has-tabs-top{
                top: 44px;
            }
            .tabs-top{
                .tabs{
                    padding: 0 5rem;
                    top: 0;
                    height: 44px;
                    
                }
            }
        }
    }
    .k_looked {
        color: #98a4b8;
        font-size: 14px;
        line-height: 20px;
        padding: 1rem 0 0 1rem;
        margin: 0;
    }
    .k_lookedList {
        .item {
            padding: 0.75rem 1rem 0.625rem 9rem;
            border: none;
            img {
                border-radius: 4px;
                width: 7.25rem;
                height: 4.5rem;
                max-width: none;
                max-height: none;
                left: 1rem;
                top: 0.75rem;
            }
            h2 {
                white-space: normal;
            }
            p {
                margin-top: 1rem;
                color: #aab0b8;
                font-size: 12px;
                position: relative;
                span {
                    position: absolute;
                    right: 0;
                    i {
                        padding: 0 4px;
                    }
                }
            }
            b{
                position: absolute;
                top: .75rem;
                left: 1rem;
                font-weight: 100;
                display: block;
                width: 2.25rem;
                height: 1.25rem;
                line-height: 1.25rem;
                background: #409cf3;
                text-align: center;
                font-size: 10px;
                border-radius: 4px 0 4px 0;
                color: #fff;
                
            }
        }
    }
}