@charset "utf-8";
/*
* @description: "主栏目—视频"页面样式
* @author: 孔
* @update: name (2016-10-08)
*/
/*
* k==kong
* c==classify
* */
.tab_home {
    ion-content{
        &.has-subheader{
            top: 84px;
        }
    }
    .tabs {
        background: $color;
        top: 0;
        height: 44px!important;
        line-height: 44px;
        width: 100%;
        padding: 0 8rem;
        .tab-item{
            font-size: 14px;
        }
        .tab-item-active{
            font-size: 16px;
        }
        
    }
    .has-tabs.pane {
        top: 44px;
        bottom: 50px;
    }
    .tab-item-active{
        font-weight: bolder;
    }
    //回到顶部
    .scrollToTop {
        height: 32px;
        width: 32px;
        background: #657287;
        border-radius: 50%;
        position: absolute;
        bottom: 65px;
        right: 10px;
        z-index: 10000;
        color: #fff;
//      font-size: 16px;
        padding: 0;
        border-width: 0;
        line-height: 32px;
    }
    .h_center {
        &.bar{
          padding-left: 0;  
        }
        &.has-header{
            top: 40px;
        }
        .scroll{
            white-space: nowrap;
            .button{
                height: 20px;
                padding: 0 14px;
                font-size: 12px;
                line-height: 20px;
                min-height: 22px;
                margin: 10px 0 2px 1.6rem;
                color: #55473e;
                border: none; 
                &:last-child{
                    margin-right: 44px;
                }
                &.activated{
                    color: #fff;
                    background: $color;
                }
                &.active{
                    color: #fff;
                    background: $color;
                    border: none;
                    
                }
            }
        }
        
        .h_more {
            display: block;
            position: absolute;
            right: 0;
            bottom: 0;
            width: 40px;
            height: 40px;
            z-index: 1;
            opacity: 0.8;
            background-color: #f1f6fb;
            box-shadow: 0 -1px 3px 0 #91abd3;
            padding: 0;
            border: none;
            i {
                display: block;
                line-height: 40px;
                text-align: center;
                font-size: 24px;
                color: $color;
                &.icon:before{
                    font-size: 24px;
                    font-weight: bold;
                }
            }
        }
        
    }
    .h_banner {
        padding: 1.6rem 1.6rem 1rem;
        .slider-pager-page{
            font-size: 12px;
            color: #f0e2d7;
            &.active{
                color: $color;
            }
        }
        img {
            width: 100%;
            height: 13.6rem;
            border-radius: 5px;
        }
    }
    .h_list {
        .h_recommend{
            padding-left: 1.6rem;
            font-weight: bold;
            color: #333;
        }
        .item{
            border: none;
        }
        .item-content {
            padding-left: 14rem;
            padding-right: 1.6rem;
            
            img {
                width: 11.2rem;
                height: 7.2rem;
                left: 1.6rem!important;
                max-width: 11.2rem!important;
                border-radius: 5px;
            }
            h2 {
                white-space: normal;
                overflow: visible;
                color: #2a2a2a;
            }
            p {
                padding-top: 1.6rem;
                color: #aab0b8;
                .h_camera {
                    .icon {
                        color: #d6dbe2;
                        padding: 0 0.32rem;
                        font-size: 1.6rem;
                    }
                    display: inline-block;
                    float: right;
                }
            }
            .h_state{
                position: absolute;
                left: 1.6rem;
                top: 10px;
                line-height: 2rem;
                font-size: 10px;
                line-height: 2rem;
                text-align: center;
                width: 4.8rem;
                color: #fff;
                background: #409cf3;
                border-radius: 5px 0 5px 0;
            }
        }
    }
}