@charset "utf-8";
/*
* @description: "主栏目—视频"页面样式
* @author: 孔
* @update: name (2016-10-08)
*/
/*
* k==kong
* c==classify
* */
.tab_home {
    .bar{
        background-image: linear-gradient(0deg, #e8e7e5, #e8e7e5 50%, transparent 50%);
//      border: 1px solid #ddd;
//      height: 45px!important;
        
    }
    ion-content{
        &.has-subheader{
            top: 84px;
        }
    }
    .tabs {
        background: $color;
        top: 0;
        height: 44px!important;
        line-height: 44px;
        width: 100%;
        padding: 0 8rem;
        .tab-item{
            font-size: 14px;
        }
        .tab-item-active{
            font-size: 16px;
        }
        
    }
    .has-tabs.pane {
        top: 44px;
        bottom: 50px;
    }
    .tab-item-active{
        font-weight: bolder;
    }
    //回到顶部
    .scrollToTop {
        height: 32px;
        width: 32px;
        background: #7f7f7f;
        border-radius: 50%;
        position: absolute;
        bottom: 65px;
        right: 10px;
        z-index: 10000;
        color: #fff;
//      font-size: 16px;
        padding: 0;
        border-width: 0;
        line-height: 32px;
    }
    .h_center {
        &.bar{
          padding-left: 0;  
        }
        &.has-header{
            top: 40px;
        }
        .scroll-view.scroll-x {
            overflow-x: hidden;
            overflow-y: hidden;
        }
        .scroll{
            white-space: nowrap;
            .button{
                height: 20px;
                padding: 0 14px;
                font-size: 12px;
                line-height: 20px;
                min-height: 22px;
                margin: 9px 0 0 1.6rem;
                color: #55473e;
                border: none; 
                &:last-child{
                    margin-right: 44px;
                }
                &.activated{
                    color: #fff;
                    background: $color;
                }
                &.active{
                    color: #fff;
                    background: $color;
                    border: none;
                    
                }
            }
        }
        
        .h_more {
            display: block;
            position: absolute;
            right: 0;
            bottom: 1px;
            width: 40px;
            height: 40px;
            z-index: 1;
            background-color: #fff;
            box-shadow: -2px -1px 4px 0 #eee;
            padding: 0;
            border: none;
            i {
                display: block;
                line-height: 40px;
                text-align: center;
                font-size: 24px;
                color: $color;
                &.icon:before{
                    font-size: 24px;
                    font-weight: bold;
                }
            }
        }
        
    }
    .h_banner {
        padding: 1.6rem 1.6rem 1rem;
        .slider-pager .slider-pager-page{
            margin: 0 1px;
            width: 12px;
        }
        .slider-pager{
            bottom: 10px;
        }
        .slider-pager-page{
            font-size: 10px;
            color: #fff;
            filter:alpha(opacity=60);
             -moz-opacity:0.6;
             -khtml-opacity: 0.6;
             opacity: 0.6;
            &.active{
                color: $color;
                filter:alpha(opacity=100);
                 -moz-opacity:1;
                 -khtml-opacity: 1;
                 opacity: 1;
            }
        }
        img {
            width: 100%;
            height: 13.6rem;
            border-radius: 5px;
        }
    }
    .h_list {
        .h_recommend{
                margin: 0;
                font-size: 14px;
            padding-left: 1.6rem;
            font-weight: 600;
            color: #333;
        }
        .item{
            border: none;
            &.item-thumbnail-left, &.item-thumbnail-left .item-content{
                min-height: 9.2rem;
            }
            .item-content {
                padding: 1rem 1.6rem 1rem 14rem;
                min-height: 9.2rem;
                img {
                    width: 11.6rem;
                    height: 7.2rem;
                    left: 1.6rem;
                    max-width: none;
                    max-height: none;
                    border-radius: 5px;
                }
                h2 {
                    white-space: normal;
                    padding-top: 2px;
                    white-space: normal;
                    line-height: 18px;
                }
                p {
                    color: #aba6a0;
                    font-size: 12px;
                    position: absolute;
                    bottom: 10px;
                    line-height: 18px;
                }
                .h_camera {
                    position: absolute;
                    font-size: 12px;
                    color: #aba6a0;
                    .icon {
                        color: #e7e6e4;
                        padding: 0 0.32rem;
                        font-size: 12px;
                    }
                    right: 1.6rem;
                    bottom: 1rem;
                }
                .h_state{
                    position: absolute;
                    left: 1.6rem;
                    top: 10px;
                    line-height: 2rem;
                    font-size: 10px;
                    line-height: 2rem;
                    text-align: center;
                    width: 4.8rem;
                    color: #fff;
                    background: #409cf3;
                    border-radius: 5px 0 5px 0;
                }
            }
        }
            
            
    }
    /*上拉加载图标样式*/
    ion-spinner{
        height: 32px;
        svg{
            height: 32px;
            line-height: 32px;
        }
    }
}