.tab-my {
    p {
        margin: 0;
    }
    .k_nologin {
        .k_no {
            width: 100%;
            font-weight: 600;
            text-align: center;
            color: #fff;
            background-color: $color;
            p {
                margin-bottom: 6px;
                padding: 5.625rem 0;
                .button {
                    min-width: 78px;
                    min-height: 30px;
                    vertical-align: baseline;
                    line-height: 30px;
                    color: #fff;
                    border: 2px solid #fff;
                    margin-left: 10px;
                }
            }
        }
        .k_prompt {
            color: #dadee4;
            font-weight: bold;
            text-align: center;
            .k_play {
                padding: 0 7rem;
            }
            span {
                display: inline-block;
                color: #dadee4;
                font-size: 3rem;
                height: 4.375rem;
                line-height: 4.375rem;
                width: 4.375rem;
                border: 5px solid #dadee4;
                border-radius: 50%;
                text-align: center;
                margin: 1.25rem;
                i {
                    position: relative;
                    top: -5px;
                    left: 3px;
                }
            }
        }
    }
    .k_haslogin {
        .k_has {
            background-color: $color;
            height: 13.375rem;
            text-align: center;
            img {
                margin: 3.2rem 0 1rem;
                border: 2px solid $color;
                border-radius: 50%;
            }
            p {
                color: #fff;
            }
        }
    }
    .k_looked {
        color: #98a4b8;
        font-size: 14px;
        line-height: 20px;
        padding: 1rem 0 0 1rem;
        margin: 0;
    }
    .k_lookedList {
        .item {
            padding: 0.75rem 1rem 0.625rem 9rem;
            border: none;
            img {
                width: 7.25rem;
                height: 4.5rem;
                max-width: none;
                max-height: none;
                left: 1rem;
                top: 0.75rem;
            }
            h2 {
                white-space: normal;
            }
            p {
                margin-top: 1rem;
                color: #aab0b8;
                font-size: 12px;
                position: relative;
                span {
                    position: absolute;
                    right: 0;
                    i {
                        padding: 0 4px;
                    }
                }
            }
        }
    }
}