<ion-view ng-controller="home_sayCtrl">
	<div class="bar bar-subheader has-header h_center">
		<ion-scroll direction="x" lock="true" scrollbar-y="false" scrollbar-x="false" style="width: 100%;">
			<div class="h_subnav">
				<button ng-repeat="navItem in navItems3" class="button button-stable" ng-class="{'active':$index==activeNavItem}" ng-click="navItemAction($index)">{{navItem.name}}</button>
			</div>
		</ion-scroll>
		<!--加载更多-->
		<button class="h_more button-clear" ng-click="openSayClassify()">
			<i class="icon ion-ios-plus-outline"></i>
		</button>
	</div>
	<ion-content delegate-handle="h_content" on-scroll="getPos()" scroll-event-interval="5" class="h_content has-header has-subheader">
		<div class="h_banner">
			<ion-slide-box auto-play="true" does-continue="true" show-pager="true">
				<ion-slide>
					<img src="../img/Home_Banner.jpg" alt="" />
				</ion-slide>
				<ion-slide>
					<img src="../img/Home_Banner.jpg" alt="" />
				</ion-slide>
				<ion-slide>
					<img src="../img/Home_Banner.jpg" alt="" />
				</ion-slide>
			</ion-slide-box>
		</div>
		<ion-list class="h_list">
			<p class="h_recommend">精选推荐</p>
			<ion-item ng-repeat="item in items" class="item item-thumbnail-left" href="#/tab/{{item.id}}">
				<img ng-src={{item.imgUrl}} alt="" />
				<h2>{{item.title}}</h2>
				<p><i>{{item.name}}</i><i> {{item.designation}}</i><span class="h_camera"><i class="icon ion-ios-videocam {{item.icon}}"></i><i>{{item.num}}</i></span></p>
			</ion-item>
		</ion-list>
		<ion-infinite-scroll on-infinite="loadMore()"></ion-infinite-scroll>
	</ion-content>
</ion-view>