<!--
@description: "登录/注册"页面
@author: 孔
@update: name (2016-10-08)
-->
<!--
k==kong
l==login_register
-->
<ion-view class="k_login_register" view-title="探基-基因行业互助平台">
	<!--返回按钮-->
	<div ng-click="weixin_back()" class="wx_back">
		<i class="icon iconfont">&#xe64e;</i>
	</div>
	<ion-content>
		<ion-list>
			<ion-item>会员注册服务即将开通！</ion-item>
			<ion-item>请关注<i>探基</i>官方微信号，使用会员服务</ion-item>
			<ion-item>搜索微信公众号：探基</ion-item>
			<ion-item>或<br />长按二维码并存储图像，通过微信扫码关注</ion-item>
			<ion-item ng-click="haslogin()"><img src="../img/1475915991.png" alt="" /></ion-item>
		</ion-list>
	</ion-content>
</ion-view>