<!--
@description: 视频播放页
@author: 孔
@update: name (2016-10-08)
-->
<ion-view class="k_play" view-title="成人ph+ALL 治疗研究进展">
	<!--视频播放页内容-->
	<div class="p_wrap">
		<div ng-click="pBack()" class="p_back">
			<i class="icon ion-ios-arrow-back"></i>
		</div>
		<div class="p_sign">
			<i class="iconfont">&#xe64c;</i>
		</div>
		<img ng-src={{item2.imgUrl}} alt="" />
	</div>
	<ion-content class="p_content">		
		<div class="p_info">
			<div class="row p_title">
				<p class="col-90">成人ph+ALL 治疗研究进展(多行演示)</p>
				<span ng-click="showMore()" class="showMore col-10"><i class="icon ion-chevron-down"></i></span>
			</div>
			<div class="p_visitor">
				<i class="icon ion-ios-videocam"></i>
				<i>3718</i>
			</div>
			<div ng-if="display">
				<div class="p_major">
					<i class="playSign">大会</i><i>白血病</i><i>血液科</i>
				</div>
				<div class="playMessage">
					<p>会议时间： <i>2106.09.21-2016.09.22</i></p>
					<p>会议地点： <i>廊坊市 固安区 福朋喜来登酒店</i></p>
				</div>
				<div class="playIntroduce">
					<p>有一个大叔有一个大叔有一个大叔有一个大叔有一个大叔有一个大叔有一个大叔有一个大叔有一个大叔有一个大叔有一个大叔有一个大叔.......</p>
				</div>
			</div>
				
		</div>
		<div class="p_anchor row">
			<div class="a_portrait col col-20">
				<img src="../img/adam.jpg" alt="" />
			</div>
			<div class="a_message col col-70">
				<p><i class="a_name">张启科</i><i class="a_title">研究员</i></p>
				<p><i class="a_place">甘肃省人民医院</i><i class="a_office">血液科</i></p>
			</div>
			<span ng-click="cardShow()"><i class="card_show icon col ion-chevron-right col-10 a_go"></i></span>
		</div>
		<div class="p_set">
			<b>视频选集</b>(<i>5</i>)
		</div>
		<div class="p_vList"><!-- ng-repeat="playItem in playList"-->
			<!--<button ng-repeat="navItem in navItems2"
				 class="button button-stable" ng-class="{'active':$index==activeNavItem}" 
				 ng-click="navItemAction($index)">{{navItem.name}}</button>-->
			<ion-list class="p_list">
				<!--<ion-item class="item-icon-right playing" ng-click="playing()"
					ng-class="{'playing':$index==activeNavItem}"
					ng-click="navItemAction($index)
					>
					<div class="p_intro">
						<p class="">ph+ALL的疾病概述</p>
						<p class="p_time">04:56</p>
					</div>
					
						<i class="icon iconfont" ng-if="false">&#xe64c;</i>
						<i class="icon iconfont">&#xe65c;</i>						
				</ion-item>-->
				<ion-item class="item-icon-right playAll" ng-repeat="playItem in playList" ng-class="{'playing':$index==selectItem}" ng-click="selectPlay($index)">
					<div class="p_intro">
						<p class="">{{playItem.title}}</p>
						<p class="p_time">{{playItem.time}}</p>
					</div>
					<i class="icon iconfont" ng-class="{'ng-hide':$index==selectItem}">&#xe64c;</i>
					<i class="icon iconfont" ng-class="{'ng-hide':$index!=selectItem}">&#xe65c;</i>
				</ion-item>
				<!--<ion-item class="item-icon-right">
					<div class="p_intro">
						<p class="">ph+ALL的疾病概述</p>
						<p class="p_time">04:56</p>
					</div>
					<i class="icon iconfont">&#xe64c;</i>
				</ion-item>
				<ion-item class="item-icon-right">
					<div class="p_intro">
						<p class="">ph+ALL的疾病概述</p>
						<p class="p_time">04:56</p>
					</div>
					<i class="icon iconfont">&#xe64c;</i>
				</ion-item>
				<ion-item class="item-icon-right">
					<div class="p_intro">
						<p class="">ph+ALL的疾病概述</p>
						<p class="p_time">04:56</p>
					</div>
					<i class="icon iconfont">&#xe64c;</i>
				</ion-item>-->
			</ion-list>
		</div>
	</ion-content>
	<!--遮罩层-->
	<div class="p_mask" hidden="true">
	</div>
	<!--讲师详情卡片卡片-->

	<div class="list card" hidden="true">
		<span ng-click="cardClose()"><i class="icon ion-android-close"></i></span>
		<div class="p_background">
			<div class="item item-thumbnail-left p_people">
				<img src="../img/adam.jpg">
				<h2>张启科</h2>
				<p>甘肃省人民医院 血液科</p>
			</div>
		</div>
		<div class="item item-body p_introduce">
			<ion-scroll>
				<p>现在主要从事血液肿瘤及造血干细胞的临床工作，近年在国内外专业核心期刊杂志发表论文近40余篇、专著2部、发表sci论文2篇。参与和完成课题近十项，现正在参与研究国家自然科学基金两项。</p>
				<p>甘肃省人民医院血液科主任医师、血液科主任；现任甘肃省抗癌协会淋巴瘤专业委员会委员、中国医学会血液学会副主任委员、中国抗癌协会协中心（CSC-O）会员、甘肃省临床输血专业委员会临床输血指导专家、甘肃省医学会中西医结合血液学会会员、甘肃省老年医学学会委员。</p>
				<p>现在主要从事血液肿瘤及造血干细胞的临床工作，近年在国内外专业核心期刊杂志发表论文近40余篇、专著2部、发表sci论文2篇。参与和完成课题近十项，现正在参与研究国家自然科学基金两项。</p>
			</ion-scroll>
		</div>
	</div>
</ion-view>