<!--
@description: "主栏目—活动"页面
@author: 孔
@update: name (2016-10-08)
-->
<!--

-->

<ion-view class="tab-activity" view-title="探基-基因行业互助平台">
	<ion-tabs class="tabs-table">
		<ion-tab title="最新活动">
			<ion-content>
				<ion-list>
					<ion-item ng-repeat="latestActivity in latestActivities" ui-sref="detail({detailId:latestActivity.id,view:'tabs.activity',info:latestActivity.info})">
						<div>
							<img ng-src={{latestActivity.imgUrl}} alt="" />
							<p class="{{latestActivity.background}}">{{latestActivity.info}}</p>
						</div>	
					</ion-item>
				</ion-list>
			</ion-content>
		</ion-tab>
		<ion-tab title="往期活动">
			<ion-content>
				<ion-list>
					<ion-item ng-repeat="pastActivity in pastActivities" ui-sref="detail({detailId:pastActivity.id,view:'tabs.activity',info:pastActivity.info})">
						<div>
							<a><img ng-src={{pastActivity.imgUrl}} alt="" /></a>
							<p>{{pastActivity.info}}</p>
						</div>
					</ion-item>
				</ion-list>
			</ion-content>
		</ion-tab>
	</ion-tabs>
	
</ion-view>