<!--
@description: "主栏目—视频"页面
@author: 孔
@update: name (2016-10-09)
-->
<!--
k==kong
h==home
-->

<ion-view class="tab_home">
	<ion-tabs class="tabs-assertive first_tab">
		<ion-tab title="看大会">
			<ion-view>
				<div class="bar bar-subheader has-header h_center">
					<ion-scroll ng-controller="subnavController" direction="x" lock="true" scrollbar-y="false" scrollbar-x="false" style="width: 100%;">
						<div class="h_subnav">
							<button class="active button button-stable">推荐</button>
							<button class="button button-stable">精准医学</button>
							<button class="button button-stable">基因组</button>
							<button class="button button-stable">癌症</button>
							<button class="button button-stable">单细胞</button>
							<button class="button button-stable">基因组</button>
							<button class="button button-stable">癌症</button>
							<button class="button button-stable">单细胞</button>
						</div>
					</ion-scroll>
					<button class="h_more button-clear" ng-click="openClassify()">
						<i class="icon ion-ios-plus-outline"></i>
					</button>
				</div>
				<ion-content delegate-handle="h_content" on-scroll="getPos()" scroll-event-interval="5000" class="scdiv h_content has-header has-subheader">
					<div class="h_banner">
						<ion-slide-box auto-play="true" does-continue="true" show-pager="true">
							<ion-slide>
								<img src="../img/Home_Banner.jpg" alt="" />
							</ion-slide>
							<ion-slide>
								<img src="../img/Home_Banner.jpg" alt="" />
							</ion-slide>
							<ion-slide>
								<img src="../img/Home_Banner.jpg" alt="" />
							</ion-slide>
						</ion-slide-box>
					</div>
					<ion-list class="h_list">
						<p class="h_recommend">精选推荐</p>
						<ion-item ng-repeat="item in items" class="item item-thumbnail-left">
							<img ng-src={{item.imgUrl}} alt="" />
							<h2>{{item.title}}</h2>
							<p><i>{{item.name}}</i><i> {{item.designation}}</i><span class="h_camera"><i class="icon ion-ios-videocam {{item.icon}}"></i><i>{{item.num}}</i></span></p>
						</ion-item>
					</ion-list>
					<!--<ion-list class="h_list">
						<ion-item class="item item-thumbnail-left">
							<img src="../img/List_Act_1.jpg">
							<h2>NEJM：新算法可降低NIPT的假阳性</h2>
							<p><i>谭维仁</i><i> 教授</i><span class="h_camera"><i class="icon ion-ios-videocam"></i><i>331</i></span></p>
						</ion-item>
					</ion-list>-->
					<ion-infinite-scroll on-infinite="loadMore()"></ion-infinite-scroll>
				</ion-content>
			</ion-view>
		</ion-tab>
		<ion-tab title="学知识">
			<ion-view>
				<div class="bar bar-subheader has-header h_center">
					<ion-scroll ng-controller="subnavController" direction="x" lock="true" scrollbar-y="false" scrollbar-x="false" style="width: 100%;">
						<div class="h_subnav">
							<button class="active button button-stable">推荐</button>
							<button class="button button-stable">学知识</button>
						</div>
					</ion-scroll>
					<button class="h_more button-clear" ng-click="openClassify()">
						<i class="icon ion-ios-plus-outline"></i>
					</button>
				</div>
				<ion-content delegate-handle="h_content" on-scroll="getPos()" scroll-event-interval="5000" class="scdiv h_content has-header has-subheader">
					<div class="h_banner">
						<ion-slide-box auto-play="true" does-continue="true" show-pager="true">
							<ion-slide>
								<img src="../img/Home_Banner.jpg" alt="" />
							</ion-slide>
							<ion-slide>
								<img src="../img/Home_Banner.jpg" alt="" />
							</ion-slide>
							<ion-slide>
								<img src="../img/Home_Banner.jpg" alt="" />
							</ion-slide>
						</ion-slide-box>
					</div>
					<ion-list class="h_list">
						<p class="h_recommend">精选推荐</p>
						<ion-item ng-repeat="item in items" class="item item-thumbnail-left">
							<img ng-src={{item.imgUrl}} alt="" />
							<h2>{{item.title}}</h2>
							<p><i>{{item.name}}</i><i> {{item.designation}}</i><span class="h_camera"><i class="icon ion-ios-videocam {{item.icon}}"></i><i>{{item.num}}</i></span></p>
						</ion-item>
					</ion-list>
					<!--<ion-list class="h_list">
						<ion-item class="item item-thumbnail-left">
							<img src="../img/List_Act_1.jpg">
							<h2>NEJM：新算法可降低NIPT的假阳性</h2>
							<p><i>谭维仁</i><i> 教授</i><span class="h_camera"><i class="icon ion-ios-videocam"></i><i>331</i></span></p>
						</ion-item>
					</ion-list>-->
					<ion-infinite-scroll on-infinite="loadMore()"></ion-infinite-scroll>
				</ion-content>
			</ion-view>
		</ion-tab>
		<ion-tab title="大咖说">
			<ion-view>
				<div class="bar bar-subheader has-header h_center">
					<ion-scroll ng-controller="subnavController" direction="x" lock="true" scrollbar-y="false" scrollbar-x="false" style="width: 100%;">
						<div class="h_subnav">
							<button class="active button button-stable">推荐</button>
							<button class="button button-stable">大咖说</button>
						</div>
					</ion-scroll>
					<button class="h_more button-clear" ng-click="openModal($event)">
						<i class="icon ion-ios-plus-outline"></i>
					</button>
				</div>
				<ion-content delegate-handle="h_content" on-scroll="getPos()" scroll-event-interval="5" class="h_content has-header has-subheader">
					<div class="h_banner">
						<ion-slide-box auto-play="true" does-continue="true" show-pager="true">
							<ion-slide>
								<img src="../img/Home_Banner.jpg" alt="" />
							</ion-slide>
							<ion-slide>
								<img src="../img/Home_Banner.jpg" alt="" />
							</ion-slide>
							<ion-slide>
								<img src="../img/Home_Banner.jpg" alt="" />
							</ion-slide>
						</ion-slide-box>
					</div>
					<ion-list class="h_list">
						<p class="h_recommend">精选推荐</p>
						<ion-item ng-repeat="item in items" class="item item-thumbnail-left">
							<img ng-src={{item.imgUrl}} alt="" />
							<h2>{{item.title}}</h2>
							<p><i>{{item.name}}</i><i> {{item.designation}}</i><span class="h_camera"><i class="icon ion-ios-videocam {{item.icon}}"></i><i>{{item.num}}</i></span></p>
						</ion-item>
					</ion-list>
					<!--<ion-list class="h_list">
						<ion-item class="item item-thumbnail-left">
							<img src="../img/List_Act_1.jpg">
							<h2>NEJM：新算法可降低NIPT的假阳性</h2>
							<p><i>谭维仁</i><i> 教授</i><span class="h_camera"><i class="icon ion-ios-videocam"></i><i>331</i></span></p>
						</ion-item>
					</ion-list>-->
					<ion-infinite-scroll on-infinite="loadMore()"></ion-infinite-scroll>
				</ion-content>
			</ion-view>
		</ion-tab>
	</ion-tabs>
	<button class="scrollToTop button-clear" ng-click="scrollTop()" hidden>
		<i class="icon ion-arrow-up-a"></i>
	</button>
</ion-view>

<!--
@description: "分类目订阅层"页面
@author: 孔
@update: name (2016-10-09)
-->
<!--
k==kong
c==classify
-->
<script id="my-modal.html" type="text/ng-template">
	<ion-view class="k_classify">
		<ion-tabs class="tabs-assertive">
			<ion-tab title="看大会">
				<ion-content>
					<p class="c_select">请选择感兴趣的视频类目（可多选）</p>
					<div class="c_choice">
						<a href="" class="button active">精准医学<i class="icon ion-ios-checkmark-empty"></i></a>
						<a href="" class="button active">基因组<i class="icon ion-ios-checkmark-empty"></i></a>
						<a href="" class="button active">癌症<i class="icon ion-ios-checkmark-empty"></i></a>
						<a href="" class="button active">单细胞<i class="icon ion-ios-checkmark-empty"></i></a>
						<a href="" class="button">基因检测<i class="icon ion-ios-checkmark-empty"></i></a>
						<a href="" class="button ">转基因<i class="icon ion-ios-checkmark-empty"></i></a>
						<a href="" class="button ">六字类目名称<i class="icon ion-ios-checkmark-empty"></i></a>
						<a href="" class="button ">二字<i class="icon ion-ios-checkmark-empty"></i></a>
						<a href="" class="button ">三字名<i class="icon ion-ios-checkmark-empty"></i></a>
						<a href="" class="button ">English Name<i class="icon ion-ios-checkmark-empty"></i></a>
						<a href="" class="button ">三字名<i class="icon ion-ios-checkmark-empty"></i></a>
						<a href="" class="button ">五字类目名<i class="icon ion-ios-checkmark-empty"></i></a>
						<a href="" class="button ">二字<i class="icon ion-ios-checkmark-empty"></i></a>
						<a href="" class="button ">三字名<i class="icon ion-ios-checkmark-empty"></i></a>
					</div>
				</ion-content>
			</ion-tab>

			<ion-tab title="学知识">
				<ion-pane>

				</ion-pane>
			</ion-tab>

			<ion-tab title="大咖说">

			</ion-tab>
		</ion-tabs>

		<ion-footer-bar>
			<h1 class="title" ng-click="closeModal()">关闭</h1>
		</ion-footer-bar>
	</ion-view>
</script>