<!--
@description: "视频：分类目订阅层（默认）"页面
@author: 孔
@update: name (2016-10-08)
-->
<!--
k==kong
c==classify
-->

<ion-view class="k_classify">
	<ion-tabs class="tabs-assertive">
		<!--看大会-->
		<ion-tab title="看大会">
			<ion-content ng-controller="watchCtrl" scroll="false">
				<p class="c_select">请选择感兴趣的视频类目（可多选）</p>
				<div class="c_choice">
					<a class="button" ng-repeat="navItem in navItems1" ng-click="navItemActived($index)" ng-class="{true: 'active', false: ''}[navItem.selected]">{{navItem.name}}<i class="icon ion-ios-checkmark-empty"></i></a>
				</div>
			</ion-content>
			<ion-footer-bar>
				<h1 class="title" ng-click="closeClassify()">关闭</h1>
			</ion-footer-bar>
		</ion-tab>
		<!--学知识-->
		<ion-tab title="学知识">
			<ion-content ng-controller="learnCtrl">
				<p class="c_select">请选择感兴趣的视频类目（可多选）</p>
				<div class="c_choice">
					<a class="button" ng-repeat="navItem in navItems2" ng-click="navItemActived($index)" ng-class="{true: 'active', false: ''}[navItem.selected]">{{navItem.name}}<i class="icon ion-ios-checkmark-empty"></i></a>
				</div>
			</ion-content>
			<ion-footer-bar>
				<h1 class="title" ng-click="closeClassify()">关闭</h1>
			</ion-footer-bar>
		</ion-tab>
		<!--大咖说-->
		<ion-tab title="大咖说">
			<ion-content ng-controller="sayCtrl">
				<p class="c_select">请选择感兴趣的视频类目（可多选）</p>
				<div class="c_choice">
					<a class="button" ng-repeat="navItem in navItems3" ng-click="navItemActived($index)" ng-class="{true: 'active', false: ''}[navItem.selected]">{{navItem.name}}<i class="icon ion-ios-checkmark-empty"></i></a>
				</div>
			</ion-content>
			<ion-footer-bar>
				<h1 class="title" ng-click="closeClassify()">关闭</h1>
			</ion-footer-bar>
		</ion-tab>
	</ion-tabs>
</ion-view>