<!--
@description: "直播简介页"页面
@author: 孔
@update: name (2016-10-08)
-->
<!--
k==kong
d==detail
-->

<ion-view class="liveprofile">
	<!--关注探基微信-->
	<div class="row follow_TJweixin" ng-if="followTJ">
	  <div class="col col-20 TJ_logo">探基</div>
	  <div class="col col-50 TJ_info"><p>online</p>基因行业在线教育平台</span></div>
	  <div class="col col-30"><button ng-click="goToTJweixin()">关注公众号</button></div>
	</div>
	<!--返回按钮-->
	<div ng-click="liveprofile_back()" class="liveprofile_back" ng-class="{true: 'back_top'}[followTJ]">
		<i class="icon iconfont">&#xe64e;</i>
	</div>
	<ion-content class="has-footer" ng-class="{true: 'has-header'}[followTJ]">
		<!--视频窗口-->
		<div class="liveprofile_img">
			<!--直播预告-->
			<div class="liveprofile_countdown" ng-if="livePreview">
				<p>距离开播还有: 3天 06小时 23分  18秒</p>
			</div>
			<!--正在直播-->
			<div class="liveprofile_living" ng-click="closeLiving()" ng-if="living">
				<p>直播中</p>
			</div>
			<!--直播已结束-->
			<div class="liveprofile_liveEnd" ng-click="livePlayBack()" ng-if="liveEnd">
				<p>直播结束</p>
			</div>
			<!--直播结束可看回放-->
			<div class="liveprofile_playBack" ng-if="playBack">
				<i class="iconfont">&#xe656;</i>
				<p>直播已结束,看回放</p>
			</div>
			<!--视频占位-->
			<img ng-src={{item.imgUrl}} />
		</div>
		<ion-list>
			<!--直播标题-->
			<p class="liveprofile_title">成人PH+ALL治疗研究进展  (成人PH+ALL多行演示)</p>
			<!--直播报名人数-->
			<div class="liveprofile_enrollment">
				<img src="../../img/adam.jpg" alt="" />
				<img src="../../img/ben.png" alt="" />
				<img src="../../img/mike.png" alt="" />
				<img src="../../img/perry.png" alt="" />
				<img src="../../img/mike.png" alt="" />
				<img src="../../img/perry.png" alt="" />
				<span class="people_num">27人已报名</span>
			</div>
			<!--直播关键词-->
			<div class="liveprofile_keywords">
				<i>大会</i><i>白血病</i><i>血液科</i>
			</div>
			<!--直播时间和地点-->
			<p class="liveprofile_time_place" ng-if="!speaker">
				会议时间：<i>7月24日 9:00-7月25日 17:30</i><br />
				会议地点：<i>北京 东城区 王府井大街 协和学术会堂 (帅府园胡同协和医院西门对面)</i>
			</p>
			<!--直播专家信息-->
			<div class="live_people row" ng-click="mesShow()" ng-if="speaker">
				<div class="a_portrait col col-20">
					<img src="../img/adam.jpg" alt="" />
				</div>
				<div class="a_message col col-70">
					<p><i class="a_name">张启科</i><i class="a_title">研究员</i></p>
					<p><i class="a_place">甘肃省人民医院</i><i class="a_office">血液科</i></p>
				</div>
				<span><i class="card_show icon col ion-chevron-right col-10 a_go"></i></span>
			</div>
			<!--直播信息-->
			<dl class="liveprofile_info">
				<dt>
					<h2>支持编辑器标题</h2>
					<p>文本段落样式，需考虑长英文文本的兼容性，实现强制换行。</p>
				</dt>
				<dd class="i_list">
					<li>支持序列表</li>
					<li>支持序列表</li>
					<li>支持序列表</li>
				</dd>
				<dd class="i_pic">
					<img src="../img/List_Act_3.jpg" alt="" />
				</dd>
				<dd class="i_text">
					<p>活动介绍文本段落活动介绍文本段落活动介绍文本段落活动介绍文本段落</p>
				</dd>
				<dd class="i_text">
					<p>活动介绍文本段落活动介绍文本段落活动介绍文本段落活动介绍文本段落</p>
				</dd>
			</dl>
		</ion-list>
	</ion-content>
	<!--直播结束-->
	<ion-footer-bar class="calm" ng-if="liveFinish">
		<h1 class="title" ng-click="goHome()">直播结束</h1>
	</ion-footer-bar>
	<!--报名看直播-->
	<ion-footer-bar class="signUp" ng-if="enroll">
		<h1 class="title" ng-click="showAlert()">报名看直播</h1>
	</ion-footer-bar>
	<!--进入直播页-->
	<ion-footer-bar class="bar-assertive" ng-if="enterLive">
		<h1 class="title" ng-click="gotoLive()">进入直播间</h1>
	</ion-footer-bar>
	<!--遮罩层-->
	<div class="p_mask" ng-if="cardShow">
	</div>
	<!--讲师详情卡片卡片-->
	<div class="list card" ng-if="cardShow">
		<span ng-click="mesHide()"><i class="icon iconfont">&#xe650;</i></span>
		<div class="p_background">
			<div class="item item-thumbnail-left p_people">
				<img src="../img/adam.jpg">
				<h2>张启科</h2>
				<p>甘肃省人民医院 血液科</p>
			</div>
		</div>
		<div class="item item-body p_introduce">
			<ion-scroll>
				<p>现在主要从事血液肿瘤及造血干细胞的临床工作，近年在国内外专业核心期刊杂志发表论文近40余篇、专著2部、发表sci论文2篇。参与和完成课题近十项，现正在参与研究国家自然科学基金两项。</p>
				<p>甘肃省人民医院血液科主任医师、血液科主任；现任甘肃省抗癌协会淋巴瘤专业委员会委员、中国医学会血液学会副主任委员、中国抗癌协会协中心（CSC-O）会员、甘肃省临床输血专业委员会临床输血指导专家、甘肃省医学会中西医结合血液学会会员、甘肃省老年医学学会委员。</p>
				<p>现在主要从事血液肿瘤及造血干细胞的临床工作，近年在国内外专业核心期刊杂志发表论文近40余篇、专著2部、发表sci论文2篇。参与和完成课题近十项，现正在参与研究国家自然科学基金两项。</p>
			</ion-scroll>
		</div>
	</div>
</ion-view>